.btn {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 25px 5px 25px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    font-size: 23px;
}

.form-btn {
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid black;
    background: transparent;
    margin: 5px;
    cursor: pointer;
}