.arrow-btn {
    background-color: $c1;
    padding: 5px 25px 5px 25px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    font-size: 23px;
    transition: 0.125s ease-in-out;
    display: flex;
    &:hover {
        // background-color: rgba(154,45,54,0);
        border-color: $c1;
        img {
            margin-left: 10px;
            display: block;
            width: 30px;
            
        }
    }
    img {
        margin-left: 0px;
        width: 0;
        transition: 0.125s ease-in-out;
    }
}

.form-btn {
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid $c1;
    background-color: $c1;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: 0.125s ease-in-out;
    &:hover {
        background-color: transparent;
        color: $c1
    }
    @include phone {
        width: 100%;
    }
}

.resume-btn {
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: $c1;
    color: #fff;
    margin: 15px;
    border-radius: 0;
    border: 2px solid $c1;
    cursor: pointer;
    
    transition: 0.125s ease-in-out;
    &:hover {
        background-color: $portfolioBg;
        color: $c1;
    }
}

.github-btn {
    margin-bottom: 10px;
    background-color: $c2;
    // border: 2px solid $c2;
    width: 150px;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.7px;
    font-family: 'Lato', sans-serif;
    transition: 0.125s ease-in-out;
    @include phone {
        margin-bottom: 0;
    }
    &:hover {
        background-color: $c3;
        color: $c2;
    }
}

.web-btn {
    background-color: $c1;
    width: 150px;
    text-align: center;
    padding: 10px 15px;
    color : #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.7px;
    transition: 0.125s ease-in-out;
    &:hover {
        background-color: $c3;
        color: $c1;
    }
}

.links {
    // margin-top: 55px;
    align-items: center;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include phone {
        margin-top: 10px;
        margin-left: 0;
        flex-direction: row;
        padding-bottom: 20px;
    }
}