.page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include phone {
      height: auto;
    }
}
.page-shadow {
    box-shadow: inset 0px 0px 250px 3px black;
}
#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    filter: blur(5px);
}
.page-loader{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: $portfolioBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 40px 3px rgba(0,0,0,0.5);
}
.load-text {
  color: $c1; 
  animation: loadTextColor 2s ease-in-out;
}

.load-elipses {
  color: #fff;
  // transform: scale(3,3);
  // animation: elipses 0.2s ease-in-out inifinte;
}
@keyframes loadTextColor {
  0% {color: $c2;}
  60% {color: $c2;}
  85% {transform: scale(1,1);}
  90% {transform: scale(0.6,0.6);}
  95% {transform: scale(1.2,1.2); color: $c1;}
  100% {color: $c1; transform: scale(1,1);}
}

.load-bar-container {
  width: 300px;
  height: 2px;
  background-color: rgba(255,255,255,0.7);  
}
.load-bar {
  background-color: $c2;
  transition: 0.5s ease-in;
}

.pageLoader-enter {
  transform: translateX(-100%);
}

.pageLoader-enter.pageLoader-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.pageLoader-leave {
  transform: translate(0);
}

.pageLoader-leave.pageLoader-leave-active {
  transform: translate(100%);
  transition: transform 500ms ease-in-out;
}




.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

