.project {
    width: 20%;
    height: 240px;
    background-color: #fff;
    border-radius: 100%;
    opacity: 0.3;
    transition: translate 0.5s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 30px solid $portfolioBg;
    // margin: 30px;
    cursor: pointer;
    position: relative;
    &:hover {
        opacity: 1;
    }   
}


.project-clicked {
    // background-color: maroon;
    opacity: 1;
}
.project-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;   
    // left: -10%;
    top: 0;
    transition: 0.5s ease-in-out;
    background-color: $portfolioBg;
}

.portfolio-top {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.portfolio-bottom {
    display: flex;    
}